
*{
    margin: 0;
    padding: 0;
}



/* -------- General CSS --------- */

h1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: 500;
    margin: 0;
}

h2 {
    font-family: 'Bellefair', serif;
    font-size: 100px;
    font-weight: 300;
    margin: 0;
}

h3 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    font-weight: 200;
    margin: 0;
}

h4 {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    font-weight: 100;
    margin: 0;
}

h5 {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    font-weight: 100;
    margin: 0;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 100;
    line-height: 32px;
    margin: 0;
    color: #D0D6F9;
}

span {
    opacity: 60%;
}

.page-subtitle {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    letter-spacing: 1.5px;
    margin: 0 0 0 10%;
}


/* --------  NAVBAR --------- */

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.menu-icon {
    display: none;
}

.logo-container {
    width: 20%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 60px;
}

.divider-container {
    width: 30%;
}

.divider {
    border-top: 2px rgb(128, 128, 128, 0.5) solid;
    margin-top: 50px;
    max-width: 90%;
}

.background-navbar {
    width: 50%;
    background: rgba(255, 255, 255, 0.042);
    backdrop-filter: blur(1rem);
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.menu li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    text-decoration: none;
    color: white;
    height: 100%;
    line-height: 100px;
}

.menu li:hover {
    border-bottom: 2px white solid;
}


@media (max-width: 1100px) {

    h1 {
        font-size: 100px
    }
    

    .logo-container {
        width: 50%;
    }
    
    .divider-container {
        display: none;
    }

    .background-navbar {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: none;
        backdrop-filter: none;
    }

    .menu-icon {
        display: block;
        font-size: 50px;
        text-align: right;
        padding-right: 60px;
        z-index: 1;
    }
    .menu {
        display: none;
    }

    .active {
        display: block;
        position: absolute;
        width: 50%;
        right: 0px;
        top: 0;
        z-index: 0;
        height: 100vp;
        background: rgba(255, 255, 255, 0.042);
        backdrop-filter: blur(1rem);
        padding: 100px 0 0 20px;
    }

    #menu li {
        height: 30px;
        display: flex;
        justify-content: left;
        margin-bottom: 50px;
    }

    .menu-btn {
        line-height: 1.2;
        width: 100%;
    }


}